/* background-animation.css */
#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Behind everything */
  pointer-events: none; /* Allows clicks to pass through */
}

#background-animation canvas {
  display: block;
  width: 100%;
  height: 100%;
}
